@import "tailwindcss";

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  ---Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  --Light-Gray-Cyan: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

body {
  font-family: "League Spartan", var(--system-ui);
}

.headerContainer {
  background: no-repeat url("./assets/images/bg-header-desktop.svg");
  background-color: var(---Desaturated-Dark-Cyan);
  height: 150px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
