@import "tailwindcss";

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  ---Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  ---boxShadow: hsl(180, 30%, 68%);
  --Light-Gray-Cyan: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan: hsl(180, 57%, 91%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

body {
  font-family: "League Spartan", var(--system-ui);
}

.headerContainer {
  background: center url("./assets/images/bg-header-desktop.svg");
  background-color: var(---Desaturated-Dark-Cyan);
  height: 150px;
}

.center,
.infoItemList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowBox {
  box-shadow: 0px 10px 30px -10px var(---boxShadow);
}

.infoItemList::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--Dark-Grayish-Cyan);
  margin-right: 10px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.jobBorder {
  border-left: 5px solid var(---Desaturated-Dark-Cyan);
}
